<div class="padding">
  <div class="row">
    <div class="col-md-3">
      <!-- First Card -->
      <mat-card class="user-card" *ngIf="userDetail">
        <div class="card">
          <img class="card-img-top"[src]="'http://localhost/web_api/uploads/'+ userDetail.u_photo"  alt="User Image">
          <div class="card-body little-profile text-center">
            <div class="pro-img">
              <img [src]="'http://localhost/web_api/uploads/'+ userDetail.u_cover" alt="Cover Image">
            </div>
            <div class="card-content">
              <div class="spacer"></div>
              <mat-card-header class="m-b-0">
                <mat-card-title>{{ userDetail.u_name }}</mat-card-title>
                <mat-card-subtitle>{{ userDetail.u_description }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>{{ userDetail.u_age }}</p>
              </mat-card-content>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-4">
      <!-- Header for Albums -->
      <div class="text-center">
        <h2>Albums <i class="fa-sharp fa-solid fa-music"></i></h2>
      </div>
      <!-- Second Card -->
      <div class="profile-card-6">
        <img src="https://i.redd.it/56oa5n1r52yb1.jpg" class="img img-responsive">
        <div class="profile-stats">
          <div class="profile-stat">
            <h3><i class="fa-brands fa-spotify" style="color: #0db701;"></i> 5B</h3>
            <p>Spotify Streams</p>
          </div>
          <div class="profile-stat">
            <h3><i class="fa-brands fa-itunes" style="color: #fa3200;"></i> 35M</h3>
            <p>iTunes Streams</p>
          </div>
          <div class="profile-stat">
            <h3><i class="fa-solid fa-record-vinyl"></i> 15B</h3>
            <p>Album Sales</p>
          </div>
        </div>
        <div class="profile-name">Platinum</div>
        <div class="profile-position">GOLDEN</div>
      </div>
    </div>
  </div>
</div>
