

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800');
@import '@fortawesome/fontawesome-free/css/all.css';


/* user-list.component.scss */

body {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
}

.bio-and-genre-container {
  width: calc(30% - 5px); /* Set width to 50% minus the margin */
  margin-right: 5px;
  // background-color: #28a745;/* Adjust margin between sections */
}

.section-container {
  width: calc(70% - 5px); /* Set width to 50% minus the margin */
  margin-left: 5px;
  // background-color: #ffc107; /* Adjust margin between sections */
}
.play-album-container {
  display: flex;
}
.play-album-container{
  width: calc(100% - 0px);
  // background-color: #28a745;
}

.play-section,
.albums-section {
  flex: 1;
  margin: 10px; /* Adjust margin as needed */
}



.cover-image-container {
  position: relative;
}

.cover-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: top;
}

.splash-effect {
  position: absolute;
  bottom: 0;
  top: 0;
  width: calc(50% - 0px); /* Adjust the width to cover a portion from the left and right */
  height: 100%; /* Adjust the height to cover half of the bottom */
  background: linear-gradient(to top, rgba(28, 27, 27, 0) 0%, rgba(28, 27, 27, 0) 100%),
              linear-gradient(to bottom, rgba(28, 27, 27, 0.395) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}

.left {
  left: 0; /* Position from the left */
}

.right {
  right: 0; /* Position from the right */
}

.profile-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  z-index: 2;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  margin-left: 20px;
  color: #fff;
}

.bio-section {
  background-color: #0c0c0cd3 !important; /* White background color */
  border-radius: 15px !important; /* Curved border */
  padding: 8px 12px !important;
  height: 20%; /* Adjusted padding */
  box-shadow: 0px  4px 6px rgba(164, 164, 164, 0.395), 0 1px 3px rgba(75, 75, 75, 0.432) !important; /* Add shadow */
}

.bio-header {
  font-size: 16px !important; /* Decreased font size */
  font-weight: bold !important;
  color: #ffffff !important;
}

// .age {
//   color: #8a2be2 !important; /* Cool purple color for age */
// }

.divider {
  margin: 4px 0 !important; /* Decreased top and bottom margin */
  border: none !important;
  height: 1px !important; /* Decreased height */
  background-color: #4f46e5 !important; /* Cool purple color for divider */
}

.bio-text {
  font-size: 12px !important; /* Decreased font size */
  color: #ffffff !important;
}
.bio-and-genre-container {
  display: block;
  justify-content: space-between; /* Align items side by side */
}


.genre-header {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px; /* Add some space below the header */
}

.genre-list ul {
  display: flex; /* Use flexbox for the list */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  padding: 0; /* Remove default padding */
  margin: 0;
  list-style-type: none; /* Remove default margin */
}

.genre-list ul li {
  margin-right: 10px; /* Add space between genre items */
  color: #ffffff;
  border: 1px solid #ffffff; /* Add border */
  border-radius: 5px; /* Add border radius */
  padding: 5px 10px; /* Add padding */
}





.play-section {
  background-color: #0c0c0cd3 !important;
  color: #fff;
  border: 1px solid #4f46e5 !important;
  padding: 50px; /* Reduced padding */
  border-radius: 12px !important;
  margin-top: 10px; /* Reduced margin */
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
}

.play-section .account-info {
  flex-grow: 1; /* Fill available vertical space */
}

.data {
  display: flex;
  flex-direction: column;
}

.important-data,
.other-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

.data-item {
  text-align: center;
  margin: 20px auto; /* Center items horizontally and add margin */
  flex: 1; /* Fill available horizontal space */
}

.value {
  font-size: 24px;
  margin: 5px auto; /* Center items horizontally and add margin */
  flex: 1; /* Fill available horizontal space */
}

.title {
  font-size: 12px;
}

.other-data {
  border: 1px solid #ffffff; /* Add border with a cool color */
  border-radius: 10px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  padding: 20px;
  background-color: #1e272e;
}











.albums-section {
  background-color: #1e272e;
  color: #fff;
  // padding: 70px;
 /* Add some padding for spacing */
}

.profile-card-6 {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
    height: 328px;
    width: 100%;
    object-fit: cover;


}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(50%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.profile-card-6 {
  position: relative;
}

.profile-stats {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.profile-stat {
  text-align: center;
  padding: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.15s linear;
}

.profile-stat h3 {
  margin-top: 0;
  font-size: 16px;
  color: gold;
  font-weight: bold;
}

.profile-stat p {
  margin-bottom: 0;
  color: #d5dce6;
}

.profile-name,
.profile-position {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: silver;
  font-size: 25px;
}


.social-media {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.social-media {
  display:block;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust margin as needed */
  padding: 10px; /* Add padding */
  border: 2px solid #ffffff; /* Add border */
  border-radius: 15px;
  width: 20%;
  color: whitesmoke;

}

.media-link {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;

}


.padding {
  padding: 20px;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-warning {
  background-color: #ffc107;
  color: #212529;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  .btn-group {
    flex-direction: column; /* Stack buttons vertically */
  }

  .btn {
    margin: 10px 0; /* Add margin between buttons */
  }
  .container-fluid {
    flex-direction: column; /* Stack sections vertically */
  }

  .play-album-container{
    flex-direction: column;
  }
  .bio-and-genre-container,
  .play-album-container,
  .section-container
  {
    width: 100%; /* Full width for each section */
    margin: 10px 0; /* Adjust margin between sections */
  }
}









